*.sqlite
*.suo
*.wsuo
*.testlog
*.manifest
*.vsidx
*.v2
*.bin
*.obj
*/DependencyInjection/*
*.cache
.vs*

# ignore local items
*/obj/*
/DotNetSolutions/RazorPages/RazorPages/obj/Debug/*
/DotNetSolutions/RazorPages/RazorPages/obj/Release/net8.0/RazorPages.GeneratedMSBuildEditorConfig.editorconfig
/DotNetSolutions/RazorPages/RazorPages/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/DotNetSolutions/RazorPages/RazorPages/obj/Release/net8.0/RazorPages.AssemblyInfo.cs
/DotNetSolutions/RazorPages/RazorPages/obj/Release/net8.0/RazorPages.GlobalUsings.g.cs
/DotNetSolutions/RazorPages/RazorPages/obj/Release/net8.0/RazorPages.RazorAssemblyInfo.cs
/DotNetSolutions/RazorPages/RazorPages/obj/RazorPages.csproj.nuget.dgspec.json
/DotNetSolutions/RazorPages/RazorPages/obj/project.assets.json
DotNetSolutions/RazorPages/RazorPages/bin/Debug/net8.0/RazorPages.staticwebassets.runtime.json
DotNetSolutions/RazorPages/RazorPages/bin/Debug/net8.0/RazorPages.runtimeconfig.json
DotNetSolutions/RazorPages/RazorPages/bin/Debug/net8.0/RazorPages.pdb
DotNetSolutions/RazorPages/RazorPages/bin/Debug/net8.0/RazorPages.exe
DotNetSolutions/RazorPages/RazorPages/bin/Debug/net8.0/RazorPages.dll
DotNetSolutions/RazorPages/RazorPages/bin/Debug/net8.0/RazorPages.deps.json
DotNetSolutions/RazorPages/RazorPages/RazorPages.csproj.user
DotNetSolutions/RazorPages/RazorPages/RazorPages.csproj.user
DotNetSolutions/RazorPages/RazorPages/bin/Debug/net8.0/appsettings.Development.json
DotNetSolutions/RazorPages/RazorPages/bin/Debug/net8.0/appsettings.json
/DotNetSolutions/RazorPages/RazorPages/obj/RazorPages.csproj.nuget.g.props
/DotNetSolutions/RazorPages/RazorPages/obj/RazorPages.csproj.nuget.g.targets
RazorPages/RazorPages/bin/Debug/net8.0/RazorPages.pdb
*.exe
/RazorPages/RazorPages/obj/Debug/net8.0
/RazorPages/RazorPages/bin/Debug
RazorPages/RazorPages/obj/Debug/net8.0/RazorPages.AssemblyInfo.cs
RazorPages/RazorPages/obj/Debug/net8.0/RazorPages.GeneratedMSBuildEditorConfig.editorconfig
RazorPages/RazorPages/RazorPages.csproj.user
RazorPages/RazorPages/RazorPages.csproj.user
/RazorPages/RazorPages/obj
/RazorPages/RazorPages/obj/Debug/net8.0/RazorPages.AssemblyInfo.cs
/RazorPages/RazorPages/obj/Debug/net8.0/RazorPages.GeneratedMSBuildEditorConfig.editorconfig
/RazorPages/RazorPages/RazorPages.csproj.user
